<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Lo unico que hace falta: hablar con las Cloud Functions y descargar portadas.
         Habia cuatro permisos mas de almacenamiento. Dos de ellos, WRITE_INTERNAL_STORAGE
         y READ_INTERNAL_STORAGE, NO EXISTEN en Android y el sistema los ignoraba. Los de
         almacenamiento externo tampoco pintaban nada: no se escribe fuera de la app.
         Piden explicacion en la ficha de Play, asi que sobraban por partida doble. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_newgoodbook"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/icon_newgoodbook_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewGoodBooks"
        tools:targetApi="33">

        <!-- Deja que AppCompat guarde el idioma elegido en dispositivos anteriores a
             Android 13, que es donde el sistema todavia no lo recuerda por su cuenta. -->
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <activity
            android:name=".ContenidoLista"
            android:exported="false" />
        <activity
            android:name=".ResultadoSearchView"
            android:exported="false" />
        <activity
            android:name=".LibroData"
            android:exported="false" />
        <activity
            android:name=".Onboarding"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="false"
            android:label="@string/title_activity_principal" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>